<template name="mobile_nav">
  <div class="mobile-nav">
    <div class="mobile-nav-inner">

      <ul class="mobile-menu">
        {{#each navItems}}
          <li>
            {{> UI.dynamic template=this}}
          </li>
        {{/each}}
      </ul>

      {{#if canView}}
        <ul class="mobile-submit">
          <li><a id="submit" class="submit button" href="/submit">{{i18n "Post"}}</a></li>
        </ul>
      {{/if}}
        <ul class="mobile-submit">
          <li><div class="fb-like" data-href="http://www.dataforgood.co" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
          </li>
        </ul>
    </div>
  </div>
</template>