<template name="nav">
  <header class="header">

    <a id="mobile-menu" href="#menu" class="mobile mobile-button menu mobile-menu-button"><i class="icon-menu"></i><span>{{i18n "Menu"}}</span></a>

    <ul class="nav site-nav desktop-nav has-dropdown">
      {{#each navItems}}
        <li>
          {{> UI.dynamic template=this}}
        </li>
      {{/each}}
    </ul>
     <!-- TODO: clean in scss file, logo_url is not printed! -->
          <h1 class="logo">
            <a style="text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); font-family: Arial, Helvetica, sans-serif;" href="/">{{site_title}}</a>
            <span class="claim" style="">Share data- and tech-driven projects for social good</span>
            </h1>
    {{#if canView}}
    <ul class="nav user-nav  desktop-nav">
      <li><a id="submit" class="submit button" href="/submit">{{i18n "Post a project!"}}</a></li>
    </ul>
    {{/if}}

    <div class="auth-buttons">
      {{> loginButtons align="right"}}
    </div>

  </header>
</template>
